.body-h100 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: yellow;
}
.custom-container-fluid {
    flex: 1;
}

.wrapper {
    position: relative;
}

.gold-box {
    position: absolute;
    z-index: 3;
    /* помещаем .gold-box поверх .green-box и .dashed-box */
    width: 100%;
    /* opacity: 0.95; */
}

.green-box {
    position: absolute;
    z-index: 2;
    /* помещаем .green-box поверх .dashed-box */
    right: 50%;
    opacity: 0.5;
}
